@import url("../styles/header.css");
@import url("../styles/testes.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /*fonte do texto*/

/* Variáveis Globais ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-secundaria);
    font-family: var(--fonte-texto);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}

footer {
    flex-shrink: 0;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

:root {
  /* Cores */
  --cor-principal: mediumblue;
  --cor-secundaria: darkblue;
  --cor-terciaria: var(--cor-preto);
  --cor-azulClaroM: #1E90FF;
  --cor-fundo: #d9e4ee;
  --cor-branco: white;
  --cor-preto: black;
  --cor-botao: var(--cor-azulClaroM);
  --cor-fundobotao: #114b86;
  --cor-bordainput: #a6a6a6;
  --cor-fundo-boxCadastro: #f4f8fb;
  --cor-link: hotpink;
  --cor-azuldegrade: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 19%, rgba(0,212,255,1) 100%);
  --cor-sombrainput: lightskyblue;
  --botao-salvar: linear-gradient(to right, #40bf79, #2fa165);
  --botao-salvarHover: #39ac6d;
  --botao-sombra-salverHover: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

  --azul-navy:#000080;

  --cor-letra-rodape: #f5f5f5;
  --cor-azul-rodape-hover:#00bfff;

  --botao-editarClientes: #ffcc00;
  --botao-excluirClientes: #ff4444;




  /* Fontes */
  --fonte-texto: "Poppins", sans-serif;
  --fonte-texto1: "Savate", sans-serif;
  

  /* Dimensões de input */
  --altura-input: 2rem;
  --padding-input: 0.4rem;
}


body.dark-mode {  
    /* Cores - Dark Mode */
  --cor-fundo: #121212;
  --cor-principal: #61dafb;
  --cor-secundaria: #eeeeee;
  --cor-terciaria: #bbbbbb;
  --cor-branco: #eeeeee;
  --cor-preto: #000000;
  --cor-botao: #3182ce;
  --cor-fundobotao: #22578c;
  --cor-bordainput: rgba(255,255,255,0.1);
  --cor-fundo-boxCadastro: #262626;
  --cor-link: #ff77dd;
  --botao-salvarHover-dark: 0 12px 12px 0 rgba(255, 254, 254, 0.24), 0 17px 50px 0 rgba(253, 253, 253, 0.19);
  --cor-placehover: #bbb;
  --botao-filtrosHover: darkblue;
  --cor-celulasTabela: #1a1a1a;
  --cor-tabelaClientes-cabeçalho: #e1f0ff;
  --cor-tabelaClientes-cabeçalho-letras: #003366;
  --cor-tabelaClientes-hover: #f9f9f9;
  --cor-texto-tabela: #f0f0f0;
  --cor-cabeçalho: #343434;

  --azul: #0066c0;
}


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*ALERTAS -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.mensagem-erro {
    display: none;              /* continue escondida até precisar */
    color: var(--cor-branco);
    background-color: red;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 1rem;
    font-family: var(--fonte-texto);
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.field {
    position: relative;
    margin-bottom: 2.5rem;      /* ajuste a altura se precisar de mais/menos espaço */
}

.field.has-error .cadastroCliente__campo,
.field.has-error .cadastroCliente__campo__campo-menor {
    border-color: red;
    box-shadow: 0 0 4px rgba(217, 83, 79, 0.6);
}

.field .error-message {
    position: absolute;
    bottom: -1rem;          /* encosta no fim da área reservada pela margin */
    left: 0;
    width: 100%;                 /* ocupa toda a largura do field */
    display: none;               /* só aparece quando houver erro */
    background-color: red;
    color: var(--cor-branco);
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 5;                  /* acima de tudo dentro do field */
    box-sizing: border-box;      /* padding não expande além do field */
}

.mensagem-sucesso {
    display: inline-block;               /* escondida por padrão */
    color: #155724;
    padding: 10px 10px 10px 10px;  
    font-family: var(--fonte-texto);
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

/*CORPO DA PÁGINA --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.apresentacao {
    padding: 5% 10%;   
    display: flex;
    align-content: center;              /* alinha o conteudo ao centro em relação a imagem */
    justify-content: space-between;
   
}

.apresentacao__conteudo {
    width: 100%;                       /* largura do conteudo escrito no caso*/
    display: flex;
    flex-direction: column;            /* exibe o conteudo em coluna */
    gap: 40px;                         /* espaçamento entre os elementos do conteudo */
    font-family: var(--fonte-texto);
}

.apresentacao__conteudo__titulo {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2.25rem;                    /* tamanho da fonte do titulo */
    font-family: "Open Sans", sans-serif;  
    color: var(--cor-terciaria);  
}

.destaque-titulo {                       /* pode ser usado STRONG/SPAN para destaque de texto */
    color: var(--cor-principal);
    font-size: 2rem;
    }

.apresentacao__conteudo__subtitulo {            /*no lugar de subtitulo é texto*/
    font-size: 1,5rem;
    font-family: "Open Sans", sans-serif; 
    color: var(--cor-terciaria); 
    text-align: center;                        /*alinha o texto no meio da box*/
}

.apresentacao__links {
    display: flex;                     
    flex-direction: column;
    align-items: center;              /* alinha os links ao centro */
    justify-content: space-between;
    gap: 32px;                          /*tava 20*/
}

.apresentacao__links__subtitulo {
    font-family: "Open Sans", sans-serif; 
    font-weight: 400;
    font-size: 1,5rem;
}

.apresentacao__links__botao {
    display: flex;
    justify-content: center;             /* alinha a imagem e o texto */
    gap: 16px;                           /* espaçamento entre a imagem e o texto */
    background-color: var(--cor-botao);         /* cor de fundo do botao */
    border: 2px dotted var(--cor-terciaria);
    color: var(--cor-branco);
    width: 20%;                          /* largura do botao */
    height: 10%;                       
    text-align: center;                  /* centraliza o texto dentro do botao */
    border-radius: 6px;                  /* borda arredondada do botao */
    font-size: 1,5rem;    
    padding: 10px 10px;                  /* espaçamento interno do botao, primeiro é vertical e segundo horizontal */
    text-decoration: none;
    font-family: "Open Sans", sans-serif; 
    font-weight: 600; 
}

.apresentacao__links__botao:hover {         /*ao passar o cursor em cima muda a cor do botao*/
    background-color: var(--cor-fundobotao);
}

.apresentacao__imagem {
    width: 30%;
    padding-left: 50%;
}

/*PAGINA DE CLIENTES ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.cadastroCliente {
    background-color: var(--cor-fundo-boxCadastro);
    display: grid;
    grid-template-columns: 2fr 1fr; /* Nome (2x maior), Telefone */
    gap: 0.5rem;
    padding: 2% 5%;
    max-width: 2000px;
    min-height: 600px;
    margin: 20px;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);              /*#ccc*/
}

.cadastroCliente__titulo {
    padding-top: 2%;
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    color:var(--cor-azulClaroM);
}

.cadastro__tipo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.checkbox-redondo {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
    color: var(--cor-terciaria);
}

.checkbox-redondo input {
    opacity: 0;
    position: absolute;
}

.checkbox-redondo span {
    width: 5px;
    height: 5px;
    border: 2px solid var(--cor-terciaria);
    border-radius: 50%;  
    display: inline-block;
    transition: background 0.2s;
    margin-right: 8px;
}

.checkbox-redondo input:checked + span {
    background-color: darkgrey; /* cor que você quiser */
}

.linha-cadastro {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 0.2rem;
}

.cadastroCliente__dados {    
    color: var(--cor-terciaria);
    font-family: var(--fonte-texto);
    font-weight: 500;
    font-size: 1rem;
}

.cadastroCliente__campo {   
    display: grid;
    grid-column: 1/3; 
    flex: 3;                            /*deixa compridinha*/
}

.cadastroCliente__campo,
.cadastroCliente__campo__cep,
.cadastroCliente__campo__campo-menor {
    box-sizing: border-box;
    height: var(--altura-input);
    padding: var(--padding-input) 0.3rem;
    border: 1px outset var(--cor-bordainput);
    border-radius: 7px;
    font-size: 1rem;
}

.cadastroCliente__campo__campo-menor {
    width: 3.5rem;
}

.campo-telefone,
.campo-celular {
    display: inline-block !important;
    width: 100px !important;
}

.cadastroCliente__campo:focus,
.cadastroCliente__campo__cep:focus,
.cadastroCliente__campo__campo-menor:focus {
    outline: none;
    border-color: var(--cor-sombrainput);
    box-shadow: 0 0 10px var(--cor-sombrainput);
}

.cadastroCliente__campo::placeholder,
.cadastroCliente__campo__cep::placeholder {
    font-family: var(--fonte-texto);
    font-size: 14px;
    color: #bbb;
}

.cadastroCliente__campo__cep::placeholder {
    background: url("../imagens/lupapreta.svg") no-repeat; 
    background-position: left bottom; 
    padding-inline: 25px;
}

.linha-salvar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    grid-column: 1 / span 1; 
    margin-top: 0.6rem;
}

.botao-salvar {
    background: var(--botao-salvar);
    color: var(--cor-branco);
    border: none;
    border-radius: 7px;
    padding: 8px 20px;  
    transition: all 0.3s ease;
    cursor: pointer;
    font-weight: bold;
    font-size: 1,5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);    
    width: fit-content;
}

.botao-salvar:hover {
    background-color: var(--botao-salvarHover);
    box-shadow: var(--botao-sombra-salverHover);
    transform: scale(1.05);
}

/*Clientes cadastrados ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.lista-clientes {
    display: flex;
    align-items: stretch;
    margin-bottom: 12px;
    gap: 10px;
    padding: 20px;
}

.hidden-coluna {
    display: none !important;
}

.controle-colunas {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    font-family: var(--fonte-texto);
    font-size: 0.95rem;
    color: var(--cor-terciaria);
}

.controle-colunas button {                          /*escrito macaquinhos*/
    background-color: var(--cor-botao);
    color: var(--cor-branco);
    border: 1px solid var(--cor-bordainput);
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: 0.2s;
}

.controle-colunas button:hover {
  background-color: var(--cor-principal);
}

/*FILTRO DE PESQUISA -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.filtro-linhas {
    font-weight: bold;
    gap: 1rem;  
    padding: 1%;
}

/* Seleciona o <select> inteiro */
#colunaFiltro {    
    width: 6rem;            
    height: 2rem;    
    font-family: var(--fonte-texto);
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--cor-terciaria);   
    border: 1px outset var(--cor-bordainput);
    border-radius: 7px;
    cursor: pointer;
    transition: border-color 0.2s;
}

#textoFiltro {
    width: 12.5rem;            
    height: 2rem;
    padding: 0 1px 0 5px;    
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--cor-terciaria);   
    border: 1px outset var(--cor-bordainput);
    border-radius: 7px;
    cursor: pointer;
    transition: border-color 0.2s;
}

/* Se quiser estilizar as opções (nem todos os navegadores respeitam) */
#colunaFiltro option {
    font-family: var(--fonte-texto1);
    font-size: 0.9rem;
    color: var(--cor-terciaria);
    background-color: var(--cor-branco);
    padding: 4px 8px;

}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#tabelaClientes th {            /*cabeçalho tabela*/
    background-color: var(--cor-tabelaClientes-cabeçalho);
    color: var(--cor-tabelaClientes-cabeçalho-letras);
    font-size: 1.25rem;
}

#tabelaClientes tr:hover {
    background-color: var(--cor-tabelaClientes-hover);
}

.tabela-clientes-container {        /*conteudo dentro da tabela*/
    overflow-x: auto;
    margin: auto;
    width: 100%;
    height: auto;
    background-color: var(--cor-fundo-boxCadastro);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}

#tabelaClientes {
    width: 100%;
    min-width: 700px;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: var(--cor-branco);
    font-family: var(--fonte-texto1);
    font-weight: 300;
    font-size: 1.12rem;
}

#tabelaClientes th,
#tabelaClientes td {
    padding: 4px 6px;
    font-size: 13px;
    line-height: 1.2;
    white-space: normal;
    font-family: var(--fonte-texto1);
    font-weight: 400;
    border: 1px solid var(--cor-bordainput); /* borda visível */
    box-sizing: border-box;
}

/* Coluna Nome e Endereço mais largas */
#tabelaClientes th[data-col="nome"],
#tabelaClientes td.col-nome,
#tabelaClientes th[data-col="endereco"],
#tabelaClientes td.col-endereco {
    width: 11rem;
}

/*telefone e cidade*/
#tabelaClientes th[data-col="telefone"],
#tabelaClientes td.col-telefone,
#tabelaClientes th[data-col="cidade"],
#tabelaClientes td.col-cidade {
    width: 2.5rem;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-all;
}

/* Coluna Status*/
#tabelaClientes th[data-col="status"],
#tabelaClientes td.col-status {
    width: 4%;
}

/*coluna de ações*/
#tabelaClientes th[data-col="acoes"],
#tabelaClientes th:last-child,
#tabelaClientes td:last-child {
    width: 10%;
    text-align: center;
}

.btn-editar {
    background-color: var(--botao-editarClientes);
    border: none;
    padding: 5px 5px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 5px;
}

.btn-excluir {
    background-color: var(--botao-excluirClientes);
    color: var(--cor-branco);
    border: none;
    padding: 5px 5px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

#tabelaClientes th[data-col="status"],
#tabelaClientes td.col-status {
  display: none !important;
}

.status-tag {
    padding: 3px 8px;
    border-radius: 12px;
    font-size: 0.75rem;
    font-weight: bold;
    display: inline-block;
}

.status-tag.ativo {
    background-color: #d1f7d1;
    color: #2d862d;
}
/* FIM DA PAGINA DE CLIENTES  --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*DARK MODE --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

body.dark-mode .cabecalho__menu-hamburguer {
    filter: invert(100%) brightness(200%);
}

.botao-toggle:hover {
    opacity: 0.5;
}

body.dark-mode .cadastroCliente__campo__cep::placeholder {
    background: url("../imagens/lupabranca.svg") no-repeat;
    background-position: left bottom; 
    padding-inline: 25px;
}


body.dark-mode .botao-salvar:hover {
    background-color: var(--botao-salvarHover);
    box-shadow: 0 12px 12px 0 rgba(255, 254, 254, 0.24), 0 17px 50px 0 rgba(253, 253, 253, 0.19);
    transform: scale(1.05);
}

body.dark-mode input,
body.dark-mode select,
body.dark-mode textarea {
    background-color: var(--cor-fundo-boxCadastro); /* ou algo como var(--cor-fundo-boxCadastro) */
    color: var(--cor-branco);
    border: 1px solid var(--cor-bordainput);
}

body.dark-mode input::placeholder {
    color: var(--cor-placehover);
}

body.dark-mode .controle-colunas button {
    background-color: transparent;
}

body.dark-mode .controle-colunas button:hover {
    background-color: var(--botao-filtrosHover);
}

body.dark-mode #tabelaClientes {
    background-color: var(--cor-preto); /* Fundo da tabela */
    color: var(--cor-branco);           /* Cor do texto */
}

body.dark-mode #tabelaClientes th {
    background-color: var(--cor-cabeçalho); /* Cabeçalho */
    color: var(--cor-branco);
}

body.dark-mode #tabelaClientes td {
    background-color: var(--cor-celulasTabela); /* Células */
    color: var(--cor-texto-tabela);
    border-color: var(--cor-preto);        /* Borda da célula */
}

body.dark-mode #tabelaClientes tr:hover {
    background-color: var(--cor-preto);    
}

body.dark-mode .tabela-clientes-container {
    background-color: var(--cor-fundo-boxCadastro);
    box-shadow: 0 0 12px var(--cor-preto);
}

body.dark-mode #textoFiltro { 
    border: 1px outset var(--cor-bordainput);
    transition: border-color 0.2s;
}

body.dark-mode #colunaFiltro option {
    color: red;
}

/* Corrige cor do autofill (autocomplete do navegador) no dark mode */ 
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px  #333333 inset !important;
  border: 1px outset var(--cor-bordainput) !important;
  -webkit-text-fill-color: var(--cor-placehover) !important;
  transition: background-color 5000s ease-in-out 0s;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.rodape {
    background: linear-gradient(90deg,rgba(10, 10, 35, 1) 4%, rgba(9, 9, 80, 1) 50%, rgba(8, 8, 147, 1) 67%, rgba(1, 1, 135, 1) 81%);
    color: var(--cor-letra-rodape); /* texto clarinho */
    padding: 2rem 1rem;
    margin-top: auto;
    opacity: 0;                         /*3 propridades de animação*/
    transform: translateY(20px);
    animation: fadeInRodape 1s ease forwards;
}

/*também de animação*/
@keyframes fadeInRodape {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.rodape__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
}

.rodape__info h4 {
    margin: 0;
    font-size: 1.5rem;
}

.rodape__info p {
    margin: 0.5rem 0 0;
    font-size: 0.9rem;
}

.rodape__links {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.rodape__links a {
    color: var(--cor-letra-rodape);
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s;
}

.rodape__links a:hover {
    color: var(--cor-azul-rodape-hover); 
}

.rodape__creditos p {
    margin: 0.5rem 0 0;
    font-size: 0.8rem;
    color: var(--cor-letra-rodape);
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



/*RESPONSIVA --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*tela home - curso alura*/
@media (max-width: 1200px) {
    .cabecalho {
        padding: 2%;
        width: auto;
    }

    .cabecalho__menu {
        justify-content: center; 
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .cadastroCliente {        
        margin: 2rem;
        padding: 2rem;
    }

}

/* === TELAS MÉDIAS: Tablets (600px–991px) === */
@media (max-width: 991px) and (min-width: 680px) {
    .cabecalho {
        padding: 1%;  
        width: 100%;
    }

    .cabecalho__menu {
        justify-content: space-between;        
    } 

    .lista-menu {
        width: 80vh;
    }

    .cadastroCliente {
        margin: 2rem;
        padding: 2rem;
    }

    .cadastroCliente__campo,
    .cadastroCliente__campo__cep,
    .cadastroCliente__campo__campo-menor {
        max-width: 100%;    
    }

    #campos-fisica,
    #campos-juridica,
    #dados-basicos {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }  

    #tabelaClientes td:nth-child(1),
    #tabelaClientes th:nth-child(1) {
        display: none; /* esconde a coluna ID */
    }

    #tabelaClientes td:nth-child(2),
    #tabelaClientes th:nth-child(2) {
        width: 40%;
    }

    #tabelaClientes td:last-child,
    #tabelaClientes th:last-child {
        width: 10%;
    }
}

@media (max-width: 680px) {
    .cabecalho {
        padding: 1%;  
        width: 100%;
    }

    .cabecalho__menu {
        justify-content: space-between;        
    } 

    .lista-menu {
        width: 80vh;
    }

    .cadastroCliente {
        margin: 2rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
    }

    .linha-cadastro {
        flex-direction: column;
        align-items: stretch;
        gap: 0.2rem;
    }

    #campos-fisica,
    #campos-juridica,
    #dados-basicos {
        grid-template-columns: 1fr;
    }

    #campos-fisica .linha-cadastro,
    #campos-juridica .linha-cadastro,
    #dados-basicos .linha-cadastro {
        grid-template-columns: 1fr;
    }

    .cadastroCliente__campo,
    .cadastroCliente__campo__cep {
        max-width: 100%;    
    }

    .cadastroCliente__campo__campo-menor {
        max-width: 20%;
    }
}


@media (max-width: 599px) {
.cabecalho {
        padding: 2%;
        width: auto;
    }

    .cabecalho__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;     
    }

    .cabecalho__menu__link {
        width: 100%;
        text-align: center;
        font-size: 0.9rem;
        padding: 0.5rem;
    }

    .lista-menu {
        width: 100vh;
    }

    #campos-fisica,
    #campos-juridica,
    #dados-basicos {
        display: flex;
        flex-direction: column;     
    }

    .cadastroCliente {
        grid-template-columns: 1fr;
    }

    .linha-cadastro {
        flex-direction: column;
        grid-template-columns: 1fr;
        align-items: stretch;
        gap: 0.2rem;
    }

    .cadastroCliente__campo,
    .cadastroCliente__campo__cep {
        max-width: 100%;
    }

    .cadastroCliente__campo__campo-menor {
        max-width: 20%;
    }

    .botao-salvar {
        width: fit-content;
        margin-top: 10px;
        font-size: 16px;
    }

    .botao-salvar {
        width: fit-content;
        margin-top: 10px;
        font-size: 16px;
    }

    /* TABELA */                          
    #tabelaClientes td:nth-child(6),                    /*esconde as barras*/
    #tabelaClientes th:nth-child(6) {
        display: none; 
    }

    #tabelaClientes td,
    #tabelaClientes th {
        font-size: 12px;
        padding: 8px 6px;
    }

    #tabelaClientes td:nth-child(2),
    #tabelaClientes th:nth-child(2),
    #tabelaClientes td:last-child,
    #tabelaClientes th:last-child   {
        width: auto;
    }

    .btn-editar,
    .btn-excluir {
        padding: 4px 6px;
        font-size: 11px;
    }
}
